@model RegisterStudentModel;

<style>
    .registerdiv {
        width: 80%;
        height: 500px;
        border: 2px solid #e0d6cc;
        border-radius: 10px;
    }
    .register-form-header {
        margin-top: 10px;
        padding: 30px 30% 30px 30%;
        background-color: #f1f1f1;
        color: #eca756;
    }
</style>

<div class="container registerdiv">
   <h6 class="register-form-header">Register New Student</h6>
   

</div>